.gslide1{
    background: url(../img/gallery1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide2{
    background: url(../img/gallery2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide3{
    background: url(../img/gallery3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide4{
    background: url(../img/gallery4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide5{
    background: url(../img/gallery5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide6{
    background: url(../img/gallery6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide7{
    background: url(../img/gallery7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide8{
    background: url(../img/gallery8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide9{
    background: url(../img/gallery9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide10{
    background: url(../img/gallery10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide11{
    background: url(../img/gallery11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide12{
    background: url(../img/gallery12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide13{
    background: url(../img/gallery13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide14{
    background: url(../img/gallery14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide15{
    background: url(../img/gallery15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide16{
    background: url(../img/gallery16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide17{
    background: url(../img/gallery17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide18{
    background: url(../img/gallery18.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide19{
    background: url(../img/gallery19.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide20{
    background: url(../img/gallery20.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide21{
    background: url(../img/gallery21.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide22{
    background: url(../img/gallery22.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide23{
    background: url(../img/gallery23.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gslide24{
    background: url(../img/gallery24.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
